name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: cmd/go.mod
          cache-dependency-path: cmd/go.sum

      - name: Test
        run: go test -v ./...
        working-directory: cmd

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: cmd/go.mod
          cache-dependency-path: cmd/go.sum

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          working-directory: cmd
